* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    color: $dark;
    background-color: $light;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

// Clases de utilidad
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mt-1 {
    margin-top: 0.5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 1.5rem;
}