.hero-section {
    border: 2px solid green;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40vw; /* Altura ajustada */
    padding-top: 180px; /* Compensa la altura del header transparente y absoluto */
    background: linear-gradient(135deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.2) 100%);

    .hero-content {
        text-align: center;
        animation: fadeInUp 1s ease-out;

    }
}

.container {
    border: 2px solid blue;
    height: 500px;
}

.section-categorias {
    border: 2px solid green;
    height: 500px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}