.olvidaste-contra{
    font-family: "Italiana", serif;
    font-weight: 300;
    font-size: 70px;
    color: #11415E;
}

.input-email{
    background-color: #83ABB9;
    width: 50%;
    margin: auto;
    font-size: 20px;
}









